/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
html img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.d-flex {
  display: flex;
}

header {
  background-image: url("../image/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: #fff;
  padding: 340px 0 308px 0;
  position: relative;
}
.header-title {
  font-weight: 500;
  font-style: italic;
  font-size: 80px;
  line-height: 106px;
  margin-bottom: 32px;
}
.header-title:after {
  content: "Here's";
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 42px;
  position: absolute;
  top: 308px;
  left: 445px;
}
.header-info {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}
.header .social {
  justify-content: center;
}
.header .social li {
  margin: 0 8px;
}

.about {
  padding: 56px 0;
  position: relative;
}
.about-title {
  font-weight: 500;
  font-style: italic;
  font-size: 64px;
  line-height: 84px;
}
.about-img {
  margin: 40px 0 20px 0;
}
.about-date {
  margin: 4px 0 8px 0;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
}
.about-info {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 52px;
}
.about-info:after {
  content: "";
  position: absolute;
  top: 756px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 384px;
  height: 2px;
}
.about h3 {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
}
.about-list {
  position: relative;
}
.about-list li {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 28px;
  justify-content: center;
  align-items: center;
}
.about-list li:last-child {
  margin-bottom: 0;
}
.about-list li .about-icon {
  background-color: #891818;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 16px;
}

.introduce {
  background-color: #000;
  color: #fff;
  padding: 56px 0 160px 0;
}
.introduce-title {
  font-weight: 500;
  font-style: italic;
  font-size: 64px;
  line-height: 84px;
}
.introduce h6 {
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  margin: 12px 0 32px 0;
}
.introduce p {
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
}
.introduce-img {
  margin: 68px 0 40px 0;
}
.introduce-imgBox img {
  margin: 0 12px;
}

.work {
  padding: 56px 0 96px 0;
}
.work-title {
  font-weight: 500;
  font-style: italic;
  font-size: 64px;
  line-height: 84px;
}
.work-subtitle {
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  margin: 16px 0 56px 0;
}
.work-imgBox {
  flex-wrap: wrap;
  margin: 0 -12px;
}
.work-imgBox .work-img {
  margin: 0 12px;
}
.work-imgBox .work-img p {
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 28px;
  margin: 16px 0 48px;
}

footer {
  padding: 64px 0;
  background-color: #000;
  color: #fff;
}
footer .footer-title {
  font-weight: 500;
  font-style: italic;
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 16px;
}
footer li:first-child {
  margin-bottom: 16px;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
}/*# sourceMappingURL=style.css.map */