/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  position: relative;
  font-family: 'Noto Sans TC', sans-serif !important;
  font-weight: lighter;
}

hr {
  margin: 0;
}

img {
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 64px;
}

.container:first-child {
  margin-bottom: 48px;
}

.container:nth-child(4) {
  margin-bottom: 80px;
}

.title {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 8px;
  font-weight: 600;
}

.title span {
  font-size: 24px;
  line-height: 29px;
  color: #A00404;
  margin-left: 16px;
  font-weight: 600;
}

.header h1 {
  font-size: 80px;
  line-height: 95px;
  margin-bottom: 0;
  padding: 40px 0 24px 0;
}

.header-line {
  border-top: 2px solid #000;
}

.header-img {
  max-width: 100%;
  margin-top: 48px;
}

.profile ul {
  margin-top: 16px;
}

.profile li {
  font-size: 24px;
  line-height: 36px;
  color: #444;
}

.profile li:nth-child(3) {
  margin-bottom: 24px;
}

.edu-title {
  font-size: 24px;
  line-height: 36px;
  color: #444;
}

.edu-title li {
  margin-top: 16px;
}

.skill-group {
  max-width: 1920px;
  color: #fff;
  background-color: #415165;
  padding: 24px 0 40px 0;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-group:before {
  content: "";
  height: 300px;
  width: 0.5px;
  background-color: #fff;
  position: absolute;
  top: 120px;
  left: 37%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skill-group:after {
  content: "";
  height: 0.5px;
  width: 996px;
  background-color: #fff;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skill-group .skill {
  margin: 0 auto;
}

.skill-group .skill li {
  font-size: 24px;
  line-height: 36px;
  margin-top: 8px;
}

.skill-group .skill .skill-title {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 48px;
  margin-top: 0 !important;
  font-weight: bold;
}

.skill-group .skill .skill-title span {
  font-size: 24px;
  line-height: 29px;
  margin-left: 16px;
}

.work-list {
  margin-top: 16px;
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

.work li {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 24px;
}

.work p {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

.work img {
  display: block;
  width: 100px;
  height: 100px;
}

.work-info {
  max-width: 642px;
}

.contact {
  text-align: center;
  color: #fff;
  background-color: #415165;
  padding: 24px 0 40px 0;
}

.contact h6 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
}

.contact h6 span {
  font-size: 24px;
  line-height: 29px;
  margin-left: 16px;
}

.contact h6:after {
  content: "";
  height: 0.5px;
  width: 1200px;
  background-color: #fff;
  position: absolute;
  top: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact li {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.contact li img {
  padding: 0 12px;
}

.contact li:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=profile.css.map */